.recipe-form{
    border-radius: 0;
    width: 95%;
}

.js-search-formm{
    margin-left:3%;
    margin-top: 50px;
}

.btn-success{
    color:black;
    background-color: rgba(148, 158, 95, 0.4);
}

.btn-success:hover{
    background-color: rgba(148, 158, 95, 0.8);
}

.stepBox, .ingredientBox{
    height:150px;
}

.myrecipeboard{
    overflow:hidden;
    padding-left:4px;
}

@media (min-width: 640px) {
    .recipe-form{
        width:50%;
    }
    .myrecipeboard{
        padding-left:15px;
    }
}
