h4:hover {
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.narrowLinks h4:hover{
    color: black;
}

.dashboard-nav>ul>li{
    display:inline-block;
}
.dashboard-nav li:not(:first-child){
    margin-left:14%;
}
.recipe-page{
    line-height:7px;
    font-size: 18px;
}

.dashboard-nav li h4 {
    font-weight:500;
}

.dashboard-nav{
    display: inline-block;
    line-height: normal;
    background-color:rgba(171, 171, 89, 0.56);
    width:100%;
    font-family: raleway;
    height:50px;
}

.logohome{
    font-family: dosis;
}

.navWide {
    display: none;
    margin: 0 auto;
    margin-left:5%;
}

.narrowLinks {
    display: none;
    text-align: center;
    border: 1px solid rgba(153, 153, 153, 0.77);
    margin-top: 2px;
}

.narrowLinks> a {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

.navNarrow> .glyphicon {
    font-size: 50px;
    color: rgba(245, 245, 235, 0.74);
    margin-left:15px;
}

.fa-bars{
    margin-left:5%;
    color:white;
}

.burgermenu:hover{
    text-decoration: underline;
}

@media (min-width: 1150px) {
	
		.navWide {
			display: block;
		}

		.navNarrow {
			display: none;
		}
	
}