.img1{
    width:100%;
    height:100%;
    max-width:400px;
}

.image-form{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-left:0%;
    width:95%;
}

/* media query for how big the form will be */
@media (min-width: 640px) {
    .image-form{
        margin-left:21%;
        width: 50%
    }
}
