.recipe-form{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;;
    margin-left:0%;
    width:95%;
}

.submit-form{
    display: block;
    width:50%;
    height: 34px;
    margin-left: 20%;
}

.js-search-form{
    margin-top:10px;
}

.jumbotron-bg{
    background-color:rgba(238, 238, 220, 0.58) !important;
}

.jumbotron{
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.search{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}

.card {
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 5%;
}

.btn{
    border-bottom: 0px !important; 
}

.card-text{
    margin-bottom: 7px;
}

.logo{
    background-image: url("tomato.png");
    background-repeat:no-repeat;
    height: 200px;
    margin-left: 20%;
    overflow-x: hidden;
}

.gotorecipe:hover{
    text-decoration: underline;
}

.centerdiv{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding-left: 15px;
}

@media (min-width: 640px) {
    .recipe-form{
        margin-left:21%;
    }
    .logo{
        margin-left:37%
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .logo{
        margin-left: 0%;
        height:200px;
    }
    .centerdiv{
        padding-left:4px;
    }
}