.upper-container {
    border: 1px solid black;
}
.create-bitly:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.middle-container{ 
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
}

.lower-container{ 
    border: 1px solid black;
}

.ingredient-list{
    font-size: 20px;
}

.step-list{
    font-size: 20px;
}

.imagefile{
    margin-top:10px;
    background-repeat:no-repeat;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    overflow-x: hidden;
}

.dishname{
    display:inline-block;
    width:50%;
}

.middle-container h3{
    margin-top:0px;
}

.middle-container{
    padding-top:15px;
}

.middle-container, .lower-container{
    padding-bottom: 15px;
}
.recipe-container{
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
}

.recipe-container h3{
    margin-left: 10px;
}

.ing, .steps{
    margin-left:10px;
}