.head{ 
    padding-left:0;
}

.recipe-forms{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    margin-left:1%;
    width:98%;
    margin-top:10px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
}

.mtop{
    margin-top:50px;
}

.test1{
    width:98%;
    margin-left:-18%
}